// Architectures
ARCHS = $(ARCHS_STANDARD)

// Build locations

// Build options

// Code signing

// Deployment
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
SEPARATE_STRIP = NO
DEPLOYMENT_POSTPROCESSING = NO

SKIP_INSTALL = NO
DEPLOYMENT_LOCATION = YES
DSTROOT = $(PROJECT_DIR)/../bin/$(CONFIGURATION)
INSTALL_PATH = /$(PLATFORM_NAME)/$(PRODUCT_NAME)

// Kernel module

// Linking
DYLIB_CURRENT_VERSION = 0.1.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

// Packaging
EXECUTABLE_PREFIX = lib
EXECUTABLE_EXTENSION = a
PRODUCT_NAME = MQTT

PUBLIC_HEADERS_FOLDER_PATH =
PRIVATE_HEADERS_FOLDER_PATH = $(PUBLIC_HEADERS_FOLDER_PATH)

// Search paths
HEADER_SEARCH_PATHS = $(PROJECT_DIR)/Common/Libraries
LIBRARY_SEARCH_PATHS = $(PROJECT_DIR)/Common/Libraries/**
// ALWAYS_SEARCH_USER_PATHS = YES

// Testing

// Versioning

// Apple LLVM - Code Generation
// When enabled, all symbols are declared 'private extern' unless explicitly marked to be exported using __attribute__( (visibility("default")) ) in code. If not enabled, all symbols are exported unless explicitly marked as 'private extern'. (http://gcc.gnu.org/onlinedocs/gcc-4.3.3/gcc/Code-Gen-Options.html -fvisibility)
GCC_SYMBOLS_PRIVATE_EXTERN = YES

// Apple LLVM - Custom compiler flags
OTHER_CFLAGS=-DUSE_NAMED_SEMAPHORES -DNOSIGPIPE -DNO_PERSISTENCE -DOPENSSL -Wno-deprecated-declarations -fomit-frame-pointer
//OTHER_CFLAGS=-DUSE_NAMED_SEMAPHORES -DNOSIGPIPE -DNO_PERSISTENCE -DOPENSSL -Wno-deprecated-declarations -fvisibility=hidden -fomit-frame-pointer
// -DMQTT_ASYNC -static

// Apple LLVM - Language
GCC_C_LANGUAGE_STANDARD = gnu11

// Apple LLVM - Language modules

// Apple LLVM - Warnings
//GCC_WARN_PEDANTIC = NO
GCC_WARN_INHIBIT_ALL_WARNINGS = YES
