PRODUCT_NAME = MQTT
BUNDLE_NAME = $(PRODUCT_NAME)
BUNDLE_IDENTIFIER = io.relayr.mqtt
BUNDLE_SIGNATURE = RLYR
DYLIB_CURRENT_VERSION = 0.1.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

ARCHS = $(ARCHS_STANDARD)
SKIP_INSTALL = NO
DEPLOYMENT_LOCATION = YES
DSTROOT = $(PROJECT_DIR)/../bin/$(CONFIGURATION)
INSTALL_PATH = /$(PLATFORM_NAME)/$(PRODUCT_NAME)
PUBLIC_HEADERS_FOLDER_PATH = include
PRIVATE_HEADERS_FOLDER_PATH = $(PUBLIC_HEADERS_FOLDER_PATH)

GCC_C_LANGUAGE_STANDARD = c11
OTHER_CFLAGS=-DUSE_NAMED_SEMAPHORES -DNOSIGPIPE -DNO_PERSISTENCE -Wno-deprecated-declarations -fvisibility=hidden -fomit-frame-pointer
// -DOPENSSL
// -DMQTT_ASYNC
// -static
// libtool
// lipo -create lib.armv7 lib.i386 -output name.output
