PRODUCT_NAME = cbasics
BUNDLE_NAME = $(PRODUCT_NAME)
BUNDLE_IDENTIFIER = io.relayr.cbasics
BUNDLE_SIGNATURE = RLYR

DYLIB_CURRENT_VERSION = 0.0.1
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

ONLY_ACTIVE_ARCH = NO
ARCHS = $(ARCHS_STANDARD)

DEPLOYMENT_LOCATION = YES
//DEPLOYMENT_POSTPROCESSING = NO
DSTROOT = $(PROJECT_DIR)/../bin/$(CONFIGURATION)
ALWAYS_SEARCH_USER_PATHS = NO

GCC_C_LANGUAGE_STANDARD = c11
