#include "Common/Configuration/common.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = YES

// Build locations

// Build options
VALIDATE_PRODUCT = NO

// Code signing

// Deployment

// Kernel module

// Linking

// Packaging

// Search paths

// Testing

// Versioning

// Apple LLVM - Code Generation
GCC_OPTIMIZATION_LEVEL = 0

// Apple LLVM - Custom compiler flags

// Apple LLVM - Language

// Apple LLVM - Language modules

// Apple LLVM - Warnings
