#include "Common/Configuration/common.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = NO

// Build locations

// Build options
VALIDATE_PRODUCT = YES

// Code signing

// Deployment
DEPLOYMENT_LOCATION = YES               // Products are placed in the build products folder
DEPLOYMENT_POSTPROCESSING = YES         // Strip binariy and set file mode, owner, and group
DSTROOT = $(PROJECT_DIR)/../bin/$(CONFIGURATION) // Root path for products
INSTALL_PATH = /$(PLATFORM_NAME)/CBasics         // Path to be appended to $(DSTROOT), where the product will be installed
SKIP_INSTALL = NO                       // Whether the installation process should be skipped or not
COPY_PHASE_STRIP = YES

// Kernel module

// Linking

// Packaging
PUBLIC_HEADERS_FOLDER_PATH =            // The public header product folder. It is appendend to: $(DSTROOT)/$(INSTALL_PATH)
PRIVATE_HEADERS_FOLDER_PATH = $(PUBLIC_HEADERS_FOLDER_PATH)

// Search paths
ALWAYS_SEARCH_USER_PATHS = YES

// Testing

// Versioning

// Apple LLVM - Code Generation
GCC_OPTIMIZATION_LEVEL = s

// Apple LLVM - Custom compiler flags

// Apple LLVM - Language
