<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundlePackageType</key>
	<string>FMWK</string>

	<key>CFBundleName</key>
	<string>$(BUNDLE_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(BUNDLE_IDENTIFIER)</string>

	<key>CFBundleVersion</key>
	<string>$(DYLIB_CURRENT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(DYLIB_CURRENT_VERSION)</string>
	
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleSignature</key>
	<string>$(BUNDLE_SIGNATURE)</string>

	<key>NSHumanReadableCopyright</key>
	<string>$(FRAMEWORK_LICENSE)</string>
</dict>
</plist>
