PRODUCT_NAME = Relayr
BUNDLE_NAME = $(PRODUCT_NAME)
BUNDLE_IDENTIFIER = io.relayr.sdk
BUNDLE_SIGNATURE = RLYR

DYLIB_CURRENT_VERSION = 0.0.4
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

WEBREQUEST_USERAGENT = $(BUNDLE_IDENTIFIER)/$(DYLIB_CURRENT_VERSION)
FRAMEWORK_LICENSE = Copyright © 2014 Relayr. MIT License.
