// Architectures
ARCHS = $(ARCHS_STANDARD)

// Build locations

// Build options

// Code signing

// Deployment
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
SEPARATE_STRIP = NO

// Kernel module

// Linking
DYLIB_CURRENT_VERSION = 0.2.1
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

// Packaging
PRODUCT_NAME = Relayr

// Search paths
HEADER_SEARCH_PATHS = $(PROJECT_DIR)/../bin/$(CONFIGURATION)/$(PLATFORM_NAME)

// Testing

// Versioning

// Apple LLVM - Code Generation

// Apple LLVM - Custom compiler flags
OTHER_CFLAGS = -DRELAYRSDK_VERSION=\"$(DYLIB_CURRENT_VERSION)\"

// Apple LLVM - Language
GCC_C_LANGUAGE_STANDARD = gnu11

// Apple LLVM - Language modules
CLANG_ENABLE_MODULES = YES

// Apple LLVM - Warnings
GCC_WARN_PEDANTIC = NO

// User-defined
BUNDLE_NAME = $(PRODUCT_NAME)           // Framework's name (if any)
BUNDLE_IDENTIFIER = io.relayr.sdk
BUNDLE_SIGNATURE = RLYR                 // Signature
FRAMEWORK_LICENSE = Copyright © 2015 Relayr. MIT License.
