PRODUCT_NAME = Relayr                   // Library's name
BUNDLE_NAME = $(PRODUCT_NAME)           // Framework's name (if any)
BUNDLE_IDENTIFIER = io.relayr.sdk       // Identifier
BUNDLE_SIGNATURE = RLYR                 // Signature
DYLIB_CURRENT_VERSION = 0.1.0           // Version number
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)
FRAMEWORK_LICENSE = Copyright © 2014 Relayr. MIT License.

ARCHS = $(ARCHS_STANDARD)               // Architectures supported
SKIP_INSTALL = NO                       // Whether the installation process should be skipped or not
DEPLOYMENT_LOCATION = YES               // Products are placed in $(DSTROOT)
DSTROOT = $(PROJECT_DIR)/../bin/$(CONFIGURATION)    // Root path for the products
INSTALL_PATH = /$(PLATFORM_NAME)/$(PRODUCT_NAME)    // Path to be appended to $(DSTROOT), where the product will be installed
HEADER_SEARCH_PATHS = $(DSTROOT)/$(PLATFORM_NAME)   // Where to search for headers

GCC_C_LANGUAGE_STANDARD = c11           // The compiler C Standard to use
OTHER_CFLAGS = -DRELAYRSDK_VERSION=\"$(DYLIB_CURRENT_VERSION)\"
